html,body {
  background: url(maksym-kaharlytskyi-kDVaFjoQf4M-unsplash.jpg) no-repeat center center fixed;  
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
  -webkit-text-size-adjust: none;
}

.logo {
  display:inline-block;
  align-content: center;
  justify-content: center;
  text-align: center;
  text-decoration:none;
  font-size: 34px;
  color: beige;
  text-shadow: black 2px 2px;
  font-family: 'Kurale', serif;
}

.aboutme {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin-left: 12px;
  word-spacing: 2px;
  color: white;
  font-style: oblique;
  font-weight: bold;
  text-shadow: 0px 1px 2px #4504f5;
  line-height: 150%;
}

.compet-listimg {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  
}

.intro {
  margin-top: .5em;
  text-transform: uppercase;
  font-size: 1.4em;
  letter-spacing: 0em ;
  word-spacing: 0em;
  text-align: center;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  font-family: 'Cairo', sans-serif;
  font-weight: light;
  
}

.profiles {
  color: white;
}

.mobile-menu-exit {
  cursor: pointer;
  /*float bte5od el soora w bt7ata left right up down hasab lcontainer taba3ak wen w kif*/
  float: right;
  margin: .2em;
  
}

.mobile-menu {
 
  cursor: pointer;
  /*float bte5od el soora w bt7ata left right up down hasab lcontainer taba3ak wen w kif*/
  float: right;
  margin-top: 7px;
  margin-right: 5px;
  width: 37px; 
  position: absolute;
}

.proandach {
  color: white;
  font-size: 43px;
}

.listpros li {
  margin-bottom: 20px;
}

.listpros {
  color: white;
  font-size: larger;
  line-height: 150%;
  padding-right: 5px;
  padding-top: 10px;
  border-style: dotted;
  font-weight: bold;
  text-shadow: 0px 1px 2px #4504f5;
  font-family: 'Cairo', sans-serif;
  background-color:rgba(0,0,0,0.5);
}


.backbutton {
  font-size: 33px;
  color: white;
}

nav a {
  color: beige;
  font-size: large;
}

nav a:visited {
  color: beige;
}

nav a:hover {

  color: lightcyan;
}

nav a:active { 
  color: blanchedalmond;
}

.primary-nav {
  list-style-type: none;
  margin: 0 ;
  padding: 0;
  color: red;
}

nav.menu-btn {
  display: block;
}

nav {
  display: none;
  position: fixed;
  z-index: 999;
  width: 30%;
  right: 0;
  top: 0;
  background:#20272E;
  height: 100vh;
  padding: 1em;
}

nav li {
  margin: 0 -0.98em ;
}

nav li a {
  text-decoration: none;
  display:flex;
  margin-top: 3em;
  justify-content: center;
  border-style:ridge;
  text-overflow:inherit;
  border-color:#C0C0C0 ;
  background-color: rgb(95, 94, 92);
}

nav li a:hover {
  font-weight: bold;
}

@keyframes example {
  from {color: white;}
  to {text-shadow: 1px 1px 2px #12cef0} 
}

.rami-imge {
  display: block;
  max-width: 100%; height: auto;
  margin-left: auto;
  margin-right: auto;

}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    position: static;
    width: 4%;
    float: right;
    margin-top: -95px;
    padding-right: 5em;
    position: static
  }

  .compet-listimg {
    width: 30%;
    height: 100%;
    display: block;
  }
  
  .logo {
    display: flex;
    font-size: 80px;
    align-content: center;
    justify-content: center;
  }

  .intro {
    margin-top: .5em;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 0em ;
    word-spacing: 0em;
    text-align: center;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    font-family: 'Cairo', sans-serif; 
  }

  .aboutme {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    margin: 1%;
    word-spacing: 1px;
    letter-spacing: auto;
    color: rgb(253, 253, 253);
    font-style: oblique;
    font-weight: bold;
    text-shadow: 0px 1px 2px #4504f5;
    line-height: 150%;
  }

}
